body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #5f9341;
    
}

button {
    
    background: #5f9341;
    color:ivory; 
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    
}
